.JI_Partners {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.JI_Partners .JI_main_title_h1::after {
    content: "+ 113 company";
}

.JI_Partners .JI_Partners_slider {
    display: flex;
    gap: calc(var(--width)/2);
    /* height: 9.4rem; */
    cursor: pointer;
    animation: scrolling 10s linear infinite;
}
.JI_Partners .JI_Partners_slider:not(:last-child) {
    margin-bottom: 5.1rem;
}
.JI_Partners.JI_Customers .JI_Partners_slider:not(:last-child) {
    margin-bottom: 3.2rem;
}
.JI_Partners .JI_Partners_slider:hover {
    animation-play-state: paused;
}

.JI_Partners .JI_Partners_slider .JI_Partners_slider_img {
    width: calc(var(--width)/2);
    flex-shrink: 0;
}
.JI_Partners .JI_Partners_slider .JI_Partners_slider_img img {
    width: 100%;
}


@media(max-width:992px) {
    .JI_Partners .JI_Partners_slider {
        height: 4.8rem;
    }
    .JI_Partners .JI_Partners_slider:not(:last-child) {
        margin-bottom: 3.07rem;
    }
    .JI_Partners.JI_Customers .JI_Partners_slider:not(:last-child) {
        margin-bottom: 2.178rem;
    }
    .JI_Partners .JI_Partners_slider .JI_Partners_slider_img {
        height: 4.1rem;
    }
}


@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {

        transform: translateX(calc(-1*var(--width)*5));
    }
}