.FQ-hero-profile
{
    color: var(--white);
    background-color: var(--black);
    position: relative;
    height: 100vh;
    background-image: url(./../img/points-back-ff.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.FQ-hero-profile .FQ-profile-title
{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30rem;
    
}
.FQ-hero-profile .FQ-profile-title h1
{
    font-size: 6.1rem;
    font-weight: var(--font-wx6);
}
.FQ-hero-profile .FQ-profile-title p
{
    font-size: 3.1rem;
    font-weight: var(--font-wx2);
    width: 78%;
    margin: auto;
    padding-top: 2rem;
}
.FQ-hero-profile .FQ-bottom-hero .left-side-fq
{
    font-size: 2rem;
    font-weight: var(--font-wx2);
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}
.FQ-hero-profile .FQ-bottom-hero .right-side-fq
{
    font-size: 2rem;
    font-weight: var(--font-wx2);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 3rem;
    right: 22rem;
}
.FQ-hero-profile .FQ-bottom-right-hero-profile img
{
    width: 17rem;
    position: absolute;
    right: 0;
    bottom: 0;
}



@media (max-width:992px) {
    .FQ-hero-profile .FQ-profile-title h1
    {
        font-size: 3.8rem;
    }
    .FQ-hero-profile .FQ-profile-title p
    {
        font-size: 2.1rem;
        width: 71%;
    }
    .FQ-hero-profile .FQ-bottom-hero .left-side-fq 
    {
        font-size: 1.6rem;
    }
     .FQ-hero-profile .FQ-bottom-hero .right-side-fq
    {
        font-size: 1.6rem;
        right: 18rem;
    }
    .FQ-hero-profile .FQ-bottom-right-hero-profile img
    {
        width: 15rem;
    }
}

@media (max-width:540px) {
    .FQ-hero-profile .FQ-profile-title h1
    {
        font-size: 2.1rem;
    }
    .FQ-hero-profile .FQ-profile-title p
    {
        font-size: 1.6rem;
        width: 75%;
        font-weight: var(--font-wx1);
    }
    .FQ-hero-profile .FQ-bottom-hero .left-side-fq 
    {
        font-size: 1.2rem;
        bottom: 4.5rem;
    }
     .FQ-hero-profile .FQ-bottom-hero .right-side-fq
    {
        font-size: 1.2rem;
        left: 3rem;
        bottom: 1.5rem;
    }
    .FQ-hero-profile .FQ-bottom-right-hero-profile img
    {
        width: 10rem;
    }
}
/* section 1*/
.FQ-profile-caseSolution
{
    padding: 10rem 0;
}
.FQ-profile-caseSolution .FQ-introduction
{
    padding: 0rem 12.5%;
    position: relative;
}
.FQ-profile-caseSolution .FQ-introduction h2
{
    font-size: 4.9rem;
    padding-bottom: 2rem;
    text-align: center;
    color: var(--black);
    font-family: var(--font-family);
    font-weight: var(--font-wx4);
}
.FQ-profile-caseSolution .FQ-introduction h2::after
{
    content: 'since: 2020';
    position: absolute;
    font-size: 2rem;
    color: var(--primaray);
    font-family: var(--font-family);
    font-weight: var(--font-wx2);
}
.FQ-profile-caseSolution .FQ-introduction p
{
    font-size: 2.9rem;
    color: var(--black);
    font-family: var(--font-family);
    font-weight: var(--font-wx2);
}

/* section 2*/

.FQ-profile-caseSolution .FQ-introduction-photo
{
    padding-top: 5rem;
    width: 100%;
    display: flex;
}
.FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom
{
    width: 58%;
    background-color: var(--black);
    position: relative;
    
}
.FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom img
{
    position: absolute;
    z-index: 11 !important;
    width: 93%;
    height: 15rem;
    top: 0;
    left: 0;
}
.FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom h3
{
    font-size: 4.9rem;
    color: var(--black);
    z-index: 12 !important;
    position: absolute;
    top: 6rem;
    left: 9rem;
}
.FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom p
{
    font-size: 2.5rem;
    color: var(--white);
    padding: 20rem 12rem 10rem 9rem;

}
.FQ-introduction-photo .FQ-photo-right-top
{
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.FQ-introduction-photo .FQ-photo-right-top img
{
    width: 37rem;
    padding: 2rem;
}
.FQ-introduction-photo .FQ-photo-right-top span
{
    font-size: 1.3rem;
}

/* section 3*/

.FQ-profile-caseSolution .FQ-solution
{
    padding: 10rem 12.5%;
}
.FQ-profile-caseSolution .FQ-solution h2
{
    font-size: 4.9rem;
    padding-bottom: 2rem;
    text-align: center;
    color: var(--black);
    font-family: var(--font-family);
    font-weight: var(--font-wx4);
}
.FQ-profile-caseSolution .FQ-solution p
{
    font-size: 2.9rem;
    color: var(--black);
    font-family: var(--font-family);
    font-weight: var(--font-wx2);
}

/* section 1 media*/

@media (max-width:992px)
{
    .FQ-profile-caseSolution
    {
        padding: 5rem 0;
    }
    .FQ-profile-caseSolution .FQ-introduction h2
    {
        font-size: 2.8rem;
    }
    .FQ-profile-caseSolution .FQ-introduction p
    {
        font-size: 1.8rem;
    }
    .FQ-profile-caseSolution .FQ-introduction 
    {
        padding: 0rem 10%;
    }
    .FQ-profile-caseSolution .FQ-introduction h2::after
    {
        font-size: 1rem;
        top: 0;
    }
}
@media (max-width:508px)
{
    .FQ-profile-caseSolution .FQ-introduction h2
    {
        font-size: 1.8rem;
    }
    .FQ-profile-caseSolution .FQ-introduction p
    {
        font-size: 1.4rem;
    }
    .FQ-profile-caseSolution .FQ-introduction h2::after
    {
        font-size: 1rem;
        top: -.7rem;
        left: 75%;
    }
}

/* section 2 media*/

@media (max-width:1225px)
{
    .FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom img
    {
        height: 12rem;
    }
    .FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom h3
    {
        font-size: 3rem;
        top: 5.5rem;
        left: 5rem;
    }
    .FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom p
    {
        font-size: 1.9rem;
        padding: 17rem 5rem 8rem 5rem;
    }
    .FQ-introduction-photo .FQ-photo-right-top img
    {
        width: 30rem;
        padding: 2rem;
    }
}
@media (max-width:745px)
{

    .FQ-profile-caseSolution .FQ-introduction-photo
    {
        flex-direction: column-reverse;
    }
    .FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom
    {
        width: 100%;
    }
    .FQ-introduction-photo .FQ-photo-right-top
    {
        width: 100%;
        padding-bottom: 7rem;
    }
    .FQ-introduction-photo .FQ-photo-right-top img
    {
        width: 27.5rem;
    }
    .FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom h3
    {
        font-size: 2.87rem;
        top: 5.3rem;
        left: 3rem;
    }
}
@media (max-width:445px)
{
    .FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom img
    {
        height: 9rem;
    }
    .FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom h3
    {
        font-size: 1.8rem;
        top: 4rem;
        left: 3rem;
    }
    .FQ-profile-caseSolution .FQ-introduction-photo .FQ-box-left-bottom p
    {
        font-size: 1.6rem;
        padding: 14rem 5rem 6rem 3rem;
    }
    .FQ-introduction-photo .FQ-photo-right-top img
    {
        width: 22.5rem;
        padding: 2rem;
    }
}


/* section 3 media*/

@media (max-width:992px)
{
        .FQ-profile-caseSolution .FQ-solution
    {
        padding: 5rem 10% ;
    }
    .FQ-profile-caseSolution .FQ-solution h2
    {
        font-size: 2.8rem !important; 
    }
    .FQ-profile-caseSolution .FQ-solution p
    {
        font-size: 1.8rem;
    }
}
@media (max-width:476px)
{
    .FQ-profile-caseSolution .FQ-solution h2
    {
        font-size: 1.6rem !important;
    }
    .FQ-profile-caseSolution .FQ-solution p
    {
        font-size: 1.4rem;
    }
}