.rm_navbarSM_container,
.navbar {
  display: none !important;
}
/* larg screen navBar */
.rm_navbarLG_container {
  width: 100% !important;
  height: 117px;
  padding: 40px 5.1244%;
  position: fixed;
  z-index: 111111111111111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}
.scrolled {
  background-color: var(--black, #1c1b1f);
  /*  opacity: 0.98; */
}
.rm_navbarLG_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin-bottom: 0;
}
.rm_navbarLG_ul_li {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 131%;
  letter-spacing: -0.48px;
  width: 130px;
  padding: 8px;
  text-align: center;
}
.rm_navbarSM_ul_li {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 131%;
  letter-spacing: -0.48px;
}
.rm_navbarLG_ul .active {
  font-size: 1.8rem;
  color: var(--white, #fffbfe);
  font-weight: bolder;
  border-bottom: 1px solid rgba(255, 251, 254, 0.7);
}
.rm_navbarLG_ul_li a {
  text-decoration: none;
  color: var(--white, #fffbfe);
  opacity: 0.7;
}
.rm_navbarLG_btn {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  font-size: 1.4rem;
  border-radius: 2px;
  border: none;
  background: var(--white, #fffbfe);
  color: var(--black, #1c1b1f);
  text-transform: capitalize;
}
a {
  text-decoration: none !important;
}
/* ************************************** */
/* hero style */
.rm_Hero_container {
  background-image: url(./../img/welcome\ background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 649px;
  padding-top: 117px;
  color: var(--white, #fffbfe);
  font-style: normal;
  line-height: normal;
  flex-shrink: 0;
}
.rm_Hero_container_p {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 6.1rem;
  font-weight: 800;
  text-align: start;
  margin: 130px auto auto 11.7%;
}
.rm_Hero_container_p2 {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 8px;
  text-transform: capitalize;
  text-align: start;
  margin: 31px auto auto 11.7%;
  opacity: 0.7;
}
/* *********************************************************** */
/* what we do style */
.rm_whatwedo_container {
  width: 100%;
  margin: 80px auto;
  text-align: center;
  color: var(--black, #1c1b1f);
}
.rm_whatwedo_container_p1 {
  font-size: 6.1rem;
  font-weight: 800;
  margin-bottom: 0;
  line-height: 75px;
}
.rm_whatwedo_container_p2 {
  width: 922px;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 34px;
  margin: auto;
  color: var(--Dark-grey, #383838);
  margin-bottom: 68px;
}
.rm_cards_container {
  width: 1114px;
  height: 372px;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  box-shadow: 0px 1.8785834312438965px 3.757166862487793px 0px
      rgba(0, 0, 0, 0.15),
    0px 3.757166862487793px 23.4822940826416px 2.8178751468658447px
      rgba(0, 0, 0, 0.1);
 /*      position: absolute;
      left: 0;
      pointer-events: none; */
}
.rm_slider{
  width: 1114px;
  position: relative;
  margin: 0 auto;
}
.rm_whatwedo_container_cards {
  width: 1114px;
  height: 366px;
  flex-shrink: 0;
  background: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3px;
  position: relative;
}
.rm_whatwedo_container_card,
.rm_whatwedo_container_card3 {
  display: flex;
  width: 300px;
  height: 306px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  flex-shrink: 0;
}
.rm_whatwedo_container_card3 {
  border: none;
}
.rm_whatwedo_card_img {
  width: 114px;
  height: 114px;
}
.rm_whatwedo_card_img3 {
  width: 72.994px;
  height: 95.978px;
  margin-bottom: 22px;
}
.rm_whatwedo_card_img5 {
  width: 99.485px;
  height: 85.916px;
  margin-bottom: 28px;
}
.rm_whatwedo_card_h2 {
  font-size: 3.6632rem;
  font-weight: 600;
  text-transform: capitalize;
  width: 314px;
  margin-bottom: 0;
}
.rm_whatwedo_card_p {
  width: 300.573px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 141.4%;
  margin-bottom: 0;
}
.rm_higt {
  width: 1.879px;
  height: 273.334px;
  flex-shrink: 0;
  background: #d9d9d9;
}
/* dots style */
.rm_dots {
  margin: 24px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.rm_dot1,
.rm_dot2
{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #d2d2d2;
  cursor: pointer;
  position: relative;
}
.rm_dots_active {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid var(--primary, #2a1bb8);
  padding: 2px;
  background-color: #d2d2d2;
}
.rm_dots_active::before {
  font-family: 'slick';
  font-size: 46px;
  line-height: 20px;
  position: absolute;
  top: -1.5px;
    left: 0.5px;
    width: 13px;
    height: 13px;
  content: '•';
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary, #2a1bb8);
}
.rm_whatwedo_small {
  display: none;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* start who-we-are page */
.FQ-Who-we .FQ-title-who-we-are 
{
    width: 90%;
    margin: 100px auto;
    text-align: center;
}
.FQ-Who-we .FQ-title-who-we-are .FQ-title
{
    font-size: 6.5rem;
    margin: 0 auto 3rem auto ;
    color: var(--Light-brown);
    font-weight: var(--font-wx4);
    font-family: var(--font-family);
}
.FQ-Who-we .FQ-title-who-we-are .FQ-desc
{
    width: 65%;
    margin: 0 auto;
    font-size: 3.1rem;
    color: var(--Light-brown);
    font-weight: var(--font-wx2);
    font-family: var(--font-family);
}
.FQ-Who-we .FQ-3cards
{
    width: 54.1%;
    margin: 0 auto;
}
.FQ-Who-we .FQ-3cards .FQ-cardes1
{
    width: 100%;
    margin: 0 auto;
    padding: 5.5rem;
    position: relative;
    margin-bottom: 3rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2),0px 4px 21px 6px rgba(0, 0, 0, 0.069);
}
.FQ-Who-we .FQ-3cards .FQ-cardes1 .FQ-top-left
{
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 4.8rem;
    color: var(--light-grey);
}
.FQ-Who-we .FQ-3cards .FQ-cardes1 .FQ-desc1
{
    font-size: 3.1rem ;
    color: var(--black);
}
/* end who-we-are page */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* end latest-projects page */
.FQ-latest-projects
{
    margin-top: 100px;
    font-family: var(--font-family);
}

.FQ-latest-projects .FQ-title-latest-projects 
{
    width: max-content;
    margin: 70px auto;
    text-align: center;
    

}
.FQ-latest-projects .FQ-title-latest-projects h1
{
    font-size: 6.5rem;

}
.FQ-latest-projects .FQ-title-latest-projects p
{
    font-size: 2.5rem;
}


  .FQ-latest-projects .FQ-slide .FQ-slider 
  {
    width: 100%;
    height: 74.9rem;
    position: relative !important;
    overflow: hidden;
  }
  
   .slide-FQ
  {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: .7s;
    font-size: 5rem;
    display: flex;
  }
  .slide-FQ.active-ffq 
  {
    opacity: 1 ;
  }
  .FQ-latest-projects
  {
    position: relative;
  }
  .FQ-latest-projects .FQ-slide 
  {
    width: 100%;
    position: relative ;
  }

  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc
  {
    padding: 4rem 5% 12% 5% !important;
    width: 56%;
    height: max-content;
    background-color: var(--black);
    color: var(--white);
    position: relative;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc .FQ-title-of h2
  {
    font-size: 5rem;
    color: var(--black);
    font-weight: var(--font-wx4);
    position: relative;
    z-index: 11;
    margin-bottom: .3rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc .FQ-title-of span
  {
    font-size: 2rem;
    position: relative;
    color: var(--black);
    font-weight: var(--font-wx2);
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc p 
  {
    font-size: 2.5rem;
    margin-top: 10%;
    font-weight: var(--font-wx2);
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc img
  {
    width: 95%;
    height: 15rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc img
  {
    width: 95%;
    height: 15rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-img-descrip     /*////////*/
  {
    width: 39.5rem ;
    margin: auto ;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-img-descrip img
  {
    width: 100%;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc
  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 7rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc h3
  {
      font-size: 2.5rem;
      font-weight: var(--font-wx2);
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc div span
  {
      font-size: 2.5rem;
      border-bottom: 1px solid var(--white);
      font-weight: var(--font-wx2);
      margin-top: 1rem;
      padding-bottom: 1rem;
      margin-right: .4rem;
      cursor: pointer;
  }


  .FQ-buttons{
    width: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    position: absolute;
    bottom: 8% !important;
    right: 19.6%;
  }
  
  .FQ-buttons .btn 
  {
    background-color: gray;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: .7rem;
    border: none;
    cursor: pointer;
  }
  .btn-activet
  {
    background-color: blue !important;
    width: 1rem;
    height: 1rem;
    border: .35rem solid white !important;
    outline: 2px solid blue !important;
    cursor: pointer;
  }
.FQ-bottom-card-desc img 
{
  display: none;
}
.FQ-BTN-allProject 
{
  width: 60%;
  margin: 0 auto;
  display: none;
}
.FQ-BTN-allProject button
{
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-family);
  font-size: 1.6rem;
  padding: .8rem;
}
/* end latest-projects page */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* reviews style */


/* ////////////////////////////////////////////////////////////// */
/* faqs style */
/* ////////////////////////////////////////////////////////////// */
/* partners style */ 
/* ////////////////////////////////////////////////////////////// */
/* footer style */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* responsive */
@media screen and (max-width: 1200px) and (min-width:600px) {
  .rm_Hero_container {
    background-image: url(./../img/welcome\ background.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: 100% 118% !important;
    width: 100%;
    height: 740px;
    padding-top: 117px;
    color: var(--white, #fffbfe);
    font-style: normal;
    line-height: normal;
  }




/* 
  .rm_slider {
    width: 1059px;
  }
  .rm_cards_container {
    width: 953px;
    height: 356px;
  }
  .rm_whatwedo_container_cards {
    width: 943px;
    height: 350px;
  }
  .rm_whatwedo_card_img {
    width: 94px;
    height: 97px;
}
.rm_whatwedo_card_h2 {
  font-size: 2.6632rem;
}
.rm_whatwedo_card_img3 {
  width: 62.994px;
  height: 70.978px;
} */
 .rm_whatwedo_container {
    display: none;
  }
  .rm_whatwedo_small {
    display: block;
    width: 100%;
    margin: 80px auto;
    text-align: center;
    color: var(--black, #1c1b1f);
  }
  .rm_whatwedo_small {
    display: block;
    width: 100%;
    margin: 80px auto;
    text-align: center;
    color: var(--black, #1c1b1f);
  }
  .rm_whatwedo_small_p1 {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 0;
  }
  .rm_whatwedo_small_p2 {
    width: 300px;
    font-size: 1.2rem;
    font-weight: 400;
    margin: auto;
    color: var(--Dark-grey, #383838);
    margin-bottom: 24px;
  }
  .rm_card_small_container {
    width: 258px;
    height: 255px;
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1.8785834312438965px 3.757166862487793px 0px
        rgba(0, 0, 0, 0.15),
      0px 3.757166862487793px 23.4822940826416px 2.8178751468658447px
        rgba(0, 0, 0, 0.1);
  }
  .rm_card_small {
    display: flex;
    width: 222px;
    height: 223px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    color: var(--black, #1c1b1f);
    margin: 16px 18px;
  }
  .rm_card_small_img {
    width: 41.619px;
    height: 54.724px;
    flex-shrink: 0;
  }
  .rm_card_small_img2 {
    width: 56.724px;
    height: 48.987px;
    flex-shrink: 0;
    margin-bottom: 20px;
  }
  .rm_card_small_img3 {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
  }
  .rm_card_small_h2 {
    font-size: 1.9rem;
    font-weight: 800;
    text-transform: capitalize;
  }
  .rm_card_small_p {
    width: 222px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: normal;
  }
  .rm_dotss {
    margin: 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.33px;
  }
  .rm_point1,
  .rm_point2,
  .rm_point3,
  .rm_point4,
  .rm_point5 {
    width: 6.741px;
    height: 6.741px;
    border-radius: 50%;
    background-color: #d2d2d2;
    cursor: pointer;
    position: relative;
  }
  .rm_dots_actives{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid var(--primary, #2a1bb8);
    padding: 2px;
    background-color: #d2d2d2;
  }
  .rm_dots_actives::before {
    font-family: 'slick';
    font-size: 46px;
    line-height: 20px;
    position: absolute;
    top: -1.5px;
      left: 0.5px;
      width: 13px;
      height: 13px;
    content: '•';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--primary, #2a1bb8);
  } 
  
}

@media screen and (max-width: 992px)  {
  /* navbarLG style */
  .rm_navbarLG_container {
    display: none;
  }
  /* ********************************* */
  /* small screen navBar */
  .rm_navbarSM_container {
    display: flex !important;
    height: 117px;
    background: var(--black, #1c1b1f);
    padding: 20px !important;
  }
  .rm_navbarSM_btn {
    width: 38px !important;
    height: 26.667px !important;
    background: var(--white, #fffbfe) !important;
    flex-shrink: 0;
    outline: none !important;
  }
  .navbar-toggler-icon {
    width: 2.5em !important;
    height: 2.5em !important;
  }
  .rm_navbarSM_offcanvas {
    background: var(--black, #1c1b1f) !important;
    /* padding: 40px 20px; */
    width: 245px !important;
    height: 740px !important;
  }
  .rm_navbarSM_logo {
    width: 70px;
    height: 20.59px;
  }
  /* .rm_navbarSM_close_btn {
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    flex-shrink: 0;
    position: relative;
    z-index: 999999;
  } */
  .offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px !important;
}
.offcanvas-body {
  flex-grow: 1;
   padding:0  !important;
  overflow-y: auto;
}
  .btn-x{
    font-size: 20px;
    font-weight: bold;
    width: 28px;
    background: transparent;
    border: none;
    color: var(--white, #fffbfe) !important;
    height: 43px;
  }
  .rm_navbarSM_ul {
    margin-top: 64.41px;
  }
  .offcanvas-body .rm_navbarSM_ul_li {
    padding-bottom: 21px;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .offcanvas-body .rm_navbarSM_ul_li a {
    text-decoration: none;
    text-align: justify;
    color: var(--white, #fffbfe) !important;
    opacity: 0.7;
    padding-left: 56px;
  }
  .offcanvas-body .rm_navbarSM_ul_li a:hover {
    background-color:#F4F4F4 !important;
    color: var(--black, #1c1b1f) !important;
    display: flex;
    width: 245px;
    /* padding: 5px 133px 5px 56px; */
    align-items: center;
    border: 1px solid;
    height: 40px;
  }
  .active2 {
    color: var(--white, #fffbfe) !important;
    color: var(--black, #1c1b1f);
  }
  .rm_navBar_login_group {
    margin: 200px 26px 0 58px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: 68%;
    height: 47px;
  }
  .rm_navBar-login {
    width: 24px;
    height: 24px;
    margin-bottom: 7px;
  }
  .rm_navBar_login_text {
    color: var(--white, #fffbfe);
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.4%;
  }

  /* **************************** */
  /* hero */
  .rm_Hero_container {
    height: 750px;
    background-image: url(./../img/welcome\ background.png);
    background-repeat: no-repeat;
    background-size: 266% 97%;
    background-position: right;
  }
  .rm_Hero_container_p {
    font-size: 2.4rem;
    margin: 0 auto;
    margin-top: 45.9px;
    text-align: center;
  }
  .rm_Hero_container_p2 {
    font-size: 2rem;
    letter-spacing: 4px;
    text-align: center;
    margin: 8px auto;
  }
  /* *************************** */
  /* what we do */
  .rm_whatwedo_container {
    display: none;
  }
  .rm_whatwedo_small {
    display: block;
    width: 100%;
    margin: 80px auto;
    text-align: center;
    color: var(--black, #1c1b1f);
  }
  .rm_whatwedo_small {
    display: block;
    width: 100%;
    margin: 80px auto;
    text-align: center;
    color: var(--black, #1c1b1f);
  }
  .rm_whatwedo_small_p1 {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 0;
  }
  .rm_whatwedo_small_p2 {
    width: 300px;
    font-size: 1.2rem;
    font-weight: 400;
    margin: auto;
    color: var(--Dark-grey, #383838);
    margin-bottom: 24px;
  }
  .rm_card_small_container {
    width: 258px;
    height: 255px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color:  var(--white, #fffbfe);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1.8785834312438965px 3.757166862487793px 0px
        rgba(0, 0, 0, 0.15),
      0px 3.757166862487793px 23.4822940826416px 2.8178751468658447px
        rgba(0, 0, 0, 0.1);
  }
  .rm_card_small {
    display: flex;
    width: 222px;
    height: 223px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    color: var(--black, #1c1b1f);
    margin: 16px 18px;
  }
  .rm_card_small_img {
    width: 41.619px;
    height: 54.724px;
    flex-shrink: 0;
  }
  .rm_card_small_img2 {
    width: 56.724px;
    height: 48.987px;
    flex-shrink: 0;
    margin-bottom: 20px;
  }
  .rm_card_small_img3 {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
  }
  .rm_card_small_h2 {
    font-size: 1.9rem;
    font-weight: 800;
    text-transform: capitalize;
  }
  .rm_card_small_p {
    width: 222px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: normal;
  }
  .rm_dotss {
    margin: 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9.33px;
  }
  .rm_point1,
  .rm_point2,
  .rm_point3,
  .rm_point4,
  .rm_point5 {
    width: 6.741px;
    height: 6.741px;
    border-radius: 50%;
    background-color: #d2d2d2;
    cursor: pointer;
    position: relative;
  }
  .rm_dots_actives{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid var(--primary, #2a1bb8);
    padding: 2px;
    background-color: #d2d2d2;
  }
  .rm_dots_actives::before {
    font-family: 'slick';
    font-size: 46px;
    line-height: 20px;
    position: absolute;
    top: -1.5px;
      left: 0.5px;
      width: 13px;
      height: 13px;
    content: '•';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--primary, #2a1bb8);
  }
/* ********************************** */


/* ********************************** */
/* reviews */

/* ********************************** */
/* faq */

/* ************************************ */
/* partners */


/* ************************************ */
/* our team */

/* ////////////////////////////////////////////////////////////////////////////// */


@media (max-width:992px){
  .FQ-Who-we .FQ-title-who-we-are .FQ-title
    {
        font-size: 4.8rem;
        width: 90%;
    }
    .FQ-Who-we .FQ-title-who-we-are .FQ-desc
    {
        font-size: 1.8rem;
        width: 90%;
    }
    .FQ-Who-we .FQ-3cards
    {
        width: 88.3%;
    }
    .FQ-Who-we .FQ-3cards .FQ-cardes1
    {
        padding: 4rem;
    }
    .FQ-Who-we .FQ-3cards .FQ-cardes1 .FQ-top-left
    {
        color: var(--Dark-grey2);
        font-size: 2.6rem;
        top: 1.5rem;
        left: 1rem;
    }
    .FQ-Who-we .FQ-3cards .FQ-cardes1 .FQ-desc1
    {
        font-size: 1.6rem ;
        color: var(--black);
    }
    .FQ-latest-projects .FQ-title-latest-projects h1
  {
      font-size: 4.8rem;
  }
  .FQ-latest-projects .FQ-title-latest-projects p
  {
      font-size: 1.8rem;
  }
  }

@media (max-width:440px){
  .FQ-Who-we .FQ-title-who-we-are .FQ-title
    {
        font-size: 2rem;
    }
    .FQ-Who-we .FQ-title-who-we-are .FQ-desc
    {
        font-size: 1.4rem;
    }
    .FQ-latest-projects .FQ-title-latest-projects h1
  {
      font-size: 2rem;
  }
  .FQ-latest-projects .FQ-title-latest-projects p
  {
      font-size: 1.4rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc .flex-img-fq h3
    {
        font-size: 1.4rem;
    }
    .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc div span
    {
        font-size: 1.2rem !important;
    }
    .FQ-BTN-allProject button
    {
      margin-top: 3rem;
    }
    
  }

  /* //////////////////////////////////////////////// */
  
@media (max-width:1280px){
  .FQ-latest-projects .FQ-slide .FQ-slider 
  {
    height: 62.9rem !important;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider 
  {
    height: 77rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc
  {
    padding: 4rem 5% 8% 5% !important;
    width: 56%;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc .FQ-title-of h2
  {
    font-size: 4rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc .FQ-title-of span
  {
    font-size: 1.8rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc img
  {
    height: 13rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc p 
  {
    font-size: 2rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-img-descrip
  {
    width: 30.5rem ;
    height: 50rem;
    margin:10rem auto ;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc h3
  {
      font-size: 2.2rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc div span
  {
      font-size: 1.9rem;
  }
  .FQ-buttons{
    bottom: 17% !important;
    right: 18% !important;
  }
}
@media (max-width:992px){
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc .FQ-title-of h2
  {
    font-size: 3rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc .FQ-title-of span
  {
    font-size: 1.6rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc img
  {
    height: 12rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc p 
  {
    font-size: 1.8rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-img-descrip
  {
    width: 27rem ;
    height: 50rem;
    margin:10rem auto ;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc h3
  {
      font-size: 2rem;
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc div span
  {
      font-size: 1.7rem;
  }
  .FQ-buttons{
    bottom: 17% !important;
    right: 17.5% !important;
  }
}
@media (max-width:731px){
  .FQ-latest-projects .FQ-slide .FQ-slider 
  {
    width: 100%;
    height: 54rem !important;
  }
  .slide-FQ.active 
  {
    width: 100%;
    /* height: 42rem; */
  }
  .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ
    {
      width: 100%;
    }
    .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc
    {
      /* padding: 6% 4% 4% 4% !important; */
      width: 100% !important;
    }
    .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-img-descrip
    {
      width: 0rem ;
    }
    .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc .FQ-title-of h2
    {
      font-size: 2rem;
    }
    .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc .FQ-title-of span
    {
      font-size: 1.2rem;
    }
    .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ .FQ-card-desc p 
    {
      font-size: 1.6rem;
      padding-top: 2rem;
    }
    .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc h3
    {
        font-size: 1.8rem;
        margin-left: 4rem;
        padding: 3PX;
    }
    .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc div
    {
      width: max-content;
    }
    .FQ-latest-projects .FQ-slide .FQ-slider .slide-FQ  .FQ-card-desc .FQ-bottom-card-desc div span
    {
        font-size: 1.6rem;
    }
    .btn 
    {
      display: none !important;
    }
    .FQ-bottom-card-desc .showimg 
    {
      width: 3rem !important;
      height: 3rem !important;
      display: block;
      margin-right: 4rem !important;
    }
    .flex-img-fq
    {
      position: relative;
      display: flex !important;
      width: 70% ;
      justify-content: space-between !important;
    }
    .FQ-BTN-allProject 
    {
      display: block;
    }
}